$def with (result)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dis.css" rel="stylesheet" type="text/css">
    <title>Formulario</title>
</head>
<body>
    <h1>Productos</h1>
    <table>
        <thead>
            <th style="border: 1px solid black;">SKU
            </th>
            <th style="border: 1px solid black;">Producto
            </th>
            <th style="border: 1px solid black;">Unidad
            </th>
        </thead>
        <tbody>
        $for x,y,z in result:
                <tr>
                    <td style="text-align: center; background-color: salmon; border: 1px solid black;">$x</td>
                    <td style="text-align: center; background-color: pink; border: 1px solid black;">$y</td>
                    <td style="text-align: center; background-color: pink; border: 1px solid black;">$z</td>
                </tr>
        </tbody>

    </table>
    
</body>
</html>