$def with (result)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese los datos</title>
    <script src="/static/prueba.js"></script>
</head>

<body>
    <h1>Eliminar una tienda</h1>
    <form method="POST" id="formulario">
        <label>Nombre de la tienda: </label>
        <input type="text" id="nombre" name="nombre" value=$result[1] required readonly>
        <br>
        <input type="submit" value="Guardar">
    </form>
    
    <a href="/tiendas"><button>Regresar</button></a>
    
</body>
</html>