$def with (regresar)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserta despensa</title>
    <script src="/static/prueba.js"></script>
</head>

<body>
    <h1>Insertar Despensa</h1>
    <form method="POST" id="formulario">
        <label>SKU: </label>
        <input type="text" id="sku" name="sku" required>
        <br>
        <label>Precio: </label>
        <input type="text" id="precio" name="precio" required>
        <br>
        <label>Fecha: </label>
        <input type="text" id="fecha" name="fecha" required>
        <br>
        <label>id_tienda: </label>
        <input type="text" id="id_tienda" name="id_tienda" required>
        <br>
        <input type="submit" value="Guardar">
    </form>
    
    <a href=$regresar><button>Regresar</button></a>
    
</body>
</html>
